{% extends 'generales/base.html'%}

{% block content %}
<div class="card w-50">
  <div class="card-body">
    <h2 class="card-title">Sobre nosotros</h2>
    <h4><p class="card-text">En nuestra academia, nos dedicamos a impulsar el conocimiento y el aprendizaje continuo. Nuestra misión es proporcionar un espacio educativo inclusivo y estimulante, donde estudiantes de todas las edades y niveles de habilidad puedan explorar su potencial y alcanzar sus metas académicas. Con una mezcla de metodologías innovadoras, profesores apasionados y una amplia gama de cursos, nos esforzamos por fomentar un ambiente inspirador que cultive el crecimiento intelectual, la creatividad y el desarrollo personal. Estamos comprometidos con la excelencia académica y con brindar un camino hacia el éxito educativo, equipando a nuestros estudiantes con las herramientas y el apoyo necesario para triunfar en su camino hacia el conocimiento y la excelencia.</p></h4>
    <a href={% url 'cursos' %} class="btn btn-primary">Ver Cursos</a>
  </div>
</div>
{% endblock %}