<!DOCTYPE html>
<html lang ="es">
    {% load static %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE-edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aplicacion </title>
</head>
<body>
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
    <h2> inicio </h2>
    <ul>
        <li><a href={% url 'login' %}>Cursos</a></li>
        <li><a href={% url 'cursos' %}>Cursos</a></li>
        <li><a href="">Ingresar</a></li>
    </ul>
    {% block content %}{% endblock %}

</body>
</html>



