{% extends 'generales/base.html'%}
{% load static %}
{% block content %}
<div calss="row mx-5">
    <div class="col-lg-12">
        <div class="box-element">
            <a class="btn btn-outline-dark" href={% url 'cursos' %}>&#x2190; Continuar comprando</a>
            <br>
            <br>
            <table class="table">
                <tr>
                    <th><h5>Cursos: <strong>3</strong></h5></th>
                    <th><h5>Total: <strong>Q42</strong></h5></th>
                    <th>
                        <a style="float:right; margin: 5px;" class="btn btn-success" href="chek.html">Pagar</a>
                    </th>
                </tr>

            </table>
            
        </div>
        <br>
        <div class="box-element">
            <table class="table">
                <tr>
                    <th><h7>Curso</h7></th>
                    <th><h7>Precio</h7></th>
                    <th><h7>Total</h7></th>
                    <th><a style="float:right; margin: 5px;" class="btn btn-success" href="chek.html">Quitar</a></th>
                </tr>
                {% for item in items %}
                <tr>
                    <th><h7>{{item.product.curso}}</h7></th>
                    <th><h7>{{item.product.precio}}</h7></th>
                    <th><h7>{{item.product.precio}}</h7></th>
                    <th><a style="float:right; margin: 5px;" class="btn btn-success" href="chek.html">Quitar</a></th>

                </tr>
                {% endfor %}
            </table>
        </div>



    </div>

</div>

{% endblock %}